@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, var(--color3), var(--color2));
    background-size: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    min-height: 25vh;
    width: 100%;
}

.header__title {
    color: var(--color1);
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 480px;
    font-weight: normal;
}

.add__task,
.task__list {
    width: 80%;
    display: flex;
    justify-content: center;
}

.add__task input {
    padding: 10px;
    font-size: 20px;
    border: none;
    max-width: 500px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(26, 25, 25);
    color: var(--color1);
    outline-style: none;
}

.add__task__button {
    padding: 12px;
    border: none;
    font-size: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

.add__task__button:hover {
    cursor: pointer;
}

.task__list__items {
    max-width: 420px;
    max-height: 350px;
    width: 100%;
    overflow: auto;
    transition: background-color 200ms ease-in-out;
}

.buttons {
    display: flex;
    gap: 10px;
}

.delete-btn,
.check-btn {
    width: 30px;
    height: 30px;
    background: aliceblue;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn img,
.check-btn img {
    width: 20px;
}

.tasks {
    margin: 0.6rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
    background: rgb(26, 27, 27);
    color: var(--color1);
}

.completed {
    background: #4142429c;
    color: var(--color1);
    filter: brightness(0.5);
    text-decoration: line-through;
}